body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.h2 {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
}

.h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.logo {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.light {
  color: #f4f4fd;
}

.accented {
  color: #4d5ae5;
}

.header-item {
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
}

.header-item:hover {
  color: #404bbf;
}

.contacts-item {
  font-weight: 400;
}

.contacts-item:hover {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn:hover {
  background-color: #404bbf;
}

.team {
  background-color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
}
